extends layout

block content

  form(action="/pay",method="post")
    
    p 買花一朵一百
    select(name="num")
      option 1
      option 2
      option 3
      option 4
      option 5

    input(type="submit")
    
